<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Real-Time Segmentation</title>
    <link rel="stylesheet" href="./static/style.css">
</head>
<body>

<h1>Real-Time Segmentation</h1>

<div class="input-area">
    <textarea id="sourceText" placeholder="찾고 싶은 것을 영어로 입력하세요 : "></textarea>
    <button id="searchButton">Search</button>
</div>

<div class="content-wrapper">
    <div id="summary">
        <h2>Segmentation Result</h2>
        <p id="result"></p>
        <div class="image-container">
            <img id="segmentation" alt="Segmentation Feed">
        </div>
    </div>

    <div id="webcam">
        <h2>Real-Time Cam</h2>
        <div class="image-container">
            <img id="webcamFeed" alt="Webcam Feed">
        </div>
    </div>
</div>

<script src="./static/script.js"></script>
</body>
</html>